<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <link rel="icon" href="/img/sun.ico">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    {{!-- <script src="/js/app.js"></script> --}}
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <a href="https://theevenfall.bandcamp.com/" target=" _blank">
            <div id="btn2"> VISIT GREAT MUSIC</div>
        </a>
    </div>
    {{>footer}}
</body>

</html>