body {
  color: #000099;
  font-family: arial;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  text-align: center;
}

footer {
  color: #000055;
  border-top: 1px solid #000088;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 60px;
  margin-bottom: 16px;
}

a {
  color: #000066;
  margin-right: 16px;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
  color: #87ceeb;
}

header {
  text-align: center;
}

.portrait {
  display: block;
  width: 200px;
  margin: auto;
}

.main-content {
  flex-grow: 1;
  /* display: flez; */
}

form input,
form button {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
}

input {
  background-color: lightblue;
  box-sizing: border-box;
  color: #000aaa;
  text-transform: uppercase;
  margin: 10px;
}

button {
  background-color: #000aaa;
  color: #87ceeb;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 3px #555;
}

button:hover {
  color: #32ceeb;
  background-color: #191970; /*midnight */
}

button:active {
  background-color: #000066;
  color: wheat;
  box-shadow: 0 1px #333;
  transform: translateY(4px);
}

#btn2 {
  font-size: 30px;
  border-radius: 20px;
  background-color: #87ceeb;
  padding: 10px;
  display: inline-block;
}

#btn2:hover {
  background-color: #000066;
}

#btn2:active {
  background-color: black;
  color: wheat;
}
