body {
  color: #000099;
  font-family: arial;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  text-align: center;
}

footer {
  color: #000055;
  border-top: 1px solid #000088;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 60px;
  margin-bottom: 16px;
}

h3 {
  font-size: 2em;
}

a {
  color: #000066;
  margin-right: 16px;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
  color: #87ceeb;
}

header {
  text-align: center;
}

.portrait {
  display: block;
  width: 200px;
  margin: auto;
}

.main-content {
  flex-grow: 1;
  /* display: flez; */
}

form input,
form button {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
}

input {
  background-color: lightblue;
  box-sizing: border-box;
  color: #000aaa;
  text-transform: uppercase;
  margin: 10px;
}

button {
  background-color: #000aaa;
  color: #87ceeb;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 3px #555;
}

button:hover {
  color: #32ceeb;
  background-color: #191970;
  /*midnight */
}

button:active {
  background-color: #000066;
  color: wheat;
  box-shadow: 0 1px #333;
  transform: translateY(4px);
}

#btn2 {
  font-size: 30px;
  border-radius: 20px;
  background-color: #87ceeb;
  padding: 10px;
  display: inline-block;
}

#btn2:hover {
  background-color: #000066;
}

#btn2:active {
  background-color: black;
  color: wheat;
}

/* extended forecast styles...... */

#extended-container {
  display: grid;
  /* or inline-flex */
  /* grid-template-columns: 180px 500px;
  grid-template-rows: repeat(7, 120px); */
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 120px 145px);
  /* grid-column-gap: 5px; */
  /* grid-row-gap: 15px; */
}

.dayName {
  display: block;
  align-self: end;
  /* border: 1px solid red; */
  padding: 20px;
  font-size: 26px;
  text-emphasis: emphasis;
  -webkit-text-stroke-width: thin;
  /* margin: 20px; */
}

.description {
  display: block;
  padding: 20px;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  line-height: 30px;
  white-space: pre-line;
}

#extended-forecast {
  margin-top: 50px;
}

#extended-title {
  -webkit-text-stroke-width: thin;
  font-size: 1.75em;
}

.backColor {
  /* color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
   */
  color: #000066;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
  border-radius: 20px;
  /* opacity: 0.75; */
}

.show {
  display: block;
}

.hide {
  transform: scale(0);
}

#current-container {
  background-color: #6c8fff;
}